:root {
    --bg-color:  #8ecae6;
    --calc-color: #fffcf2;
    --btn-color: #fffcf2;
    --btn-hover-color: #d8d0c3;
    --screen-bg-color: #000814;
    --previous-screen-text-color: #d9dad6;
    --current-screen-text-color: #ffff3f
}

*, *::before, *::after {
    box-sizing: border-box;    
    font-family: 'Changa', sans-serif;
}

html {
    height: 100vh;
    width: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
}

.container{
    border-radius: 1em;
    overflow: hidden;
    max-width: min(85vw, 350px);
    margin: 3em auto;
    box-shadow: 0px 0px 50px -5px #000000aa;
}

.calculator {
    max-width: 100%;
    background-color: var(--calc-color);
    height: min(75vh, 500px);
    display: grid;
    grid-template-rows: minmax(120px, auto);
    grid-template-areas:
    "screen screen screen screen screen"
    "clear clear clear backspace backspace"
    "seven eight nine divide equals"
    "four five six multiply equals"
    "one two three substract equals"
    "decimal zero zero add equals" ;
}

.calculator > * {
    background-color: var(--calc-color);
    font-weight: 400;
    font-size: medium;
    border:none;
}

.screen {
    padding-top: min(10px, 1em);
    padding-right: 20px;
    grid-area: screen;
    background-color: var(--screen-bg-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
}

.spacer {
    flex-grow: 2;
    flex-shrink: 2 ;
}
.previous{
    text-align: end;
    font-size: 1.5em;
    font-weight: 300;
    color: var(--previous-screen-text-color);
}
.current {
    justify-self: flex-end;
    text-align: end;
    font-size: 2em;
    font-weight: 500;
    color: var(--current-screen-text-color);
}

.btn {
    background-color: var(--btn-color);
    transition: transform 0.1s ease-out, font-weight 0.1s, background-color 0.1s;
}

.btn:hover{
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

.btn:active{
transform: scale(1.1);
}

.jsClick{
    transition: all 0.1s;
    transform: scale(1.1);
    background-color: var(--btn-hover-color);
}
 
.clear {grid-area: clear;}
.backspace {grid-area: backspace;}
.zero {grid-area: zero;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.add {grid-area: add;}
.substract {grid-area: substract;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.decimal {grid-area: decimal;}
.equals {
    grid-area: equals;
    background-color: #eb5e28;
}

.equals:hover {
    background-color: #da501a;
}

.clear span{
    text-align:left;
    color: gray;
    font-weight: 200;
    font-size: 14px;
}

footer{
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: ivory;
    background-color: #4b4d4e;
    text-align: center;
}

footer span{
    vertical-align: baseline;
}