:root {
    --bg-color: radial-gradient(#734b6d, #42275a );
    --calc-color: lightgray;
    --btn-color: rgb(215, 243, 240);
    --screen-color: white;
}

*, *::before, *::after {
    box-sizing: border-box;    
    font-family: 'Changa', sans-serif;
}

html {
    height: 100vh;
    width: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
}

.calculator {
    border-radius: 1em;
    box-shadow: 0px 0px 15px 0px gray;
    background-color: var(--calc-color);
    max-width: min(85vw, 350px);
    height: min(75vh, 500px);
    margin: 2em auto;
    padding: 20px;
    display: grid;
    grid-template-rows: minmax(100px,auto);
    grid-template-areas:
    "screen screen screen screen"
    "clear clear backspace backspace"
    " seven eight nine divide "
    " four five six multiply "
    " one two three substract"
    "decimal zero result add" ;
    gap: 10px;
}

.calculator > * {
    border-radius: 2em;
    background-color: var(--calc-color);
    font-weight: 400;
    font-size: medium;
}

.screen {
    padding: 1em;
    padding-right: 20px;
    grid-area: screen;
    background-color: var(--screen-color);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}
.previous{
    font-size: 1.5em;
    font-weight: 300;
    color: rgb(121, 119, 119);
}
.current {
    font-size: 2em;
    font-weight: 500;
}

.clear {grid-area: clear;}
.backspace {grid-area: backspace;}
.zero {grid-area: zero;}
.one {grid-area: one;}
.two {grid-area: two;}
.three {grid-area: three;}
.four {grid-area: four;}
.five {grid-area: five;}
.six {grid-area: six}
.seven {grid-area: seven;}
.eight {grid-area: eight;}
.nine {grid-area: nine;}
.add {grid-area: add;}
.substract {grid-area: substract;}
.multiply {grid-area: multiply;}
.divide {grid-area: divide;}
.decimal {grid-area: decimal;}


.btn {
    background-color: var(--btn-color);
    transition: transform 0.12s ease-out, font-weight 0.1s;
}

.btn:hover{
    box-shadow: -1px 1px 2px 1px gray;
    cursor: pointer;
    transform: translate(1%, -1%);
}

.btn:active{
    transform: translate(0);
}

